.App {
  width: 50%;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 48px;
}

.common-area {
  width:80%;
  margin: 40px auto;
}

.add-title {
  text-align: center;
  color: #fff;
}

input[type="text"] {
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
}

input[type="text"]::placeholder {
  color: #c0c0c0;
}

.todo-task {
  cursor: pointer;
  display: block;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

.far {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 10px;
  width: 30px;
  color: #ff9900;
}
